*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,0.55),
rgba(0,0,0,0.55)
),

url('greenbg.jpg');

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

.access-card{

background:white;

width:450px;

padding:40px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,0.3);

text-align:center;

}

.access-card h1{

color:#198754;

font-weight:bold;

margin-bottom:15px;

}

.access-card p{

color:#666;

margin-bottom:25px;

}

.btn-group-custom{

display:flex;

margin-bottom:25px;

}

.btn-group-custom button{

flex:1;

padding:10px;

border:none;

background:#e9ecef;

cursor:pointer;

}

.active-btn{

background:#198754 !important;

color:white;

}

form input{

margin-bottom:15px;

}

.guest-link{

display:block;

margin-top:20px;

text-decoration:none;

font-weight:bold;

color:#198754;

}